<!DOCTYPE html>
<html>
  <head>
    <title>To-Do</title>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename = 'styles/tasks.css') }}">
    </link>
  </head>
  <body>
    <h1>To-Do List</h1>
    <p><b>For user with email address: </b>{{ user_email }}</p>
    <ul id="task-list">
      {% for task in tasks %}
        <div id="task_{{ task.id }}" class="task">
          <!-- <li id="text_li_{{ task.id }}"
              class="task-li"
          ></li> -->
          <p id="task_text_{{ task.id }}"
             class="task-text"
          >{{ task.description }}</p>
          <button id="edit_task_{{ task.id }}"
                  class="edit-button"
                  data-task-id="{{ task.id }}"
          >Edit</button>
          <button id="del_task_{{ task.id }}"
                  class="del-button"
                  data-task-id="{{ task.id }}"
          >Delete</button>
        </div>
      {% endfor %}
    </ul>
    <form id="add-task-form">
      <!-- <input type="text" id="new-task-title" name="title" placeholder="Title"> -->
      <input type="text" id="new-task-description" name="Task" placeholder="Add a new task...">
      <button type="submit">Add</button>
    </form>
    <!-- <div id="testing">Just testing stuff here.</div> -->
    <script
      type=text/javascript
      src="{{ url_for('static', filename = 'js/tasks.js') }}"
    ></script>
  </body>
</html>